@use "../settings/variables";
@import "../tools/mediasQuerys";

.o-container {
  display: grid;
    grid-template-rows: 0fr 1fr;
  max-width: variables.$max-width;
  min-height: calc(100vh);
  
  margin: 0 auto;
  @include tablet {
    align-items: center;
    
}
  
}